# Porfolio Project 1
## customer shopping analysis project using public data

### Import given data

In [1]:
import pandas as pd
import os
data_path = os.path.join('data', 'shopping_trends.csv')
df = pd.read_csv(data_path)
df.head()
print(df.columns)
print(df.isnull().sum())

Index(['Customer ID', 'Age', 'Gender', 'Item Purchased', 'Category',
       'Purchase Amount (USD)', 'Location', 'Size', 'Color', 'Season',
       'Review Rating', 'Subscription Status', 'Payment Method',
       'Shipping Type', 'Discount Applied', 'Promo Code Used',
       'Previous Purchases', 'Preferred Payment Method',
       'Frequency of Purchases'],
      dtype='object')
Customer ID                 0
Age                         0
Gender                      0
Item Purchased              0
Category                    0
Purchase Amount (USD)       0
Location                    0
Size                        0
Color                       0
Season                      0
Review Rating               0
Subscription Status         0
Payment Method              0
Shipping Type               0
Discount Applied            0
Promo Code Used             0
Previous Purchases          0
Preferred Payment Method    0
Frequency of Purchases      0
dtype: int64

### Quick data cleaning

In [2]:
df.columns = [col.lower().replace(' ', '_') for col in df.columns]
df.to_csv(os.path.join('data', 'shopping_trends_cleaned.csv'), index=False)

sanity check

In [3]:
# Display basic information about the DataFrame
print("\nDataFrame Info:")
df.info()

# Display summary statistics
print("\nSummary Statistics:")
print(df.describe())

# Display unique values and their counts for categorical columns
print("\nUnique Values in Categorical Columns:")
for col in df.select_dtypes(include=['object']).columns:
    print(f"\n{col}:")
    print(df[col].value_counts())

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               3900 non-null   int64
 1   age                       3900 non-null   int64
 2   gender                    3900 non-null   object
 3   item_purchased            3900 non-null   object
 4   category                  3900 non-null   object
 5   purchase_amount_(usd)     3900 non-null   int64
 6   location                  3900 non-null   object
 7   size                      3900 non-null   object
 8   color                     3900 non-null   object
 9   season                    3900 non-null   object
 10  review_rating             3900 non-null   float64
 11  subscription_status       3900 non-null   object
 12  payment_method            3900 non-null   object
 13  shipping_type             3900 non-null   object
 14  discount_applied          3900 non-null   object
 15  promo_code_used           3900 non-null   object
 16  previous_purchases        3900 non-null   int64
 17  preferred_payment_method  3900 non-null   object
 18  frequency_of_purchases    3900 non-null   object
dtypes: float64(1), int64(4), object(14)
memory usage: 579.0+ KB

Summary Statistics:
       customer_id          age  purchase_amount_(usd)  review_rating  \
count  3900.000000  3900.000000            3900.000000    3900.000000
mean   1950.500000    44.068462              59.764359       3.749949
std    1125.977353    15.207589              23.685392       0.716223
min       1.000000    18.000000              20.000000       2.500000
25%     975.750000    31.000000              39.000000       3.100000
50%    1950.500000    44.000000              60.000000       3.700000
75%    2925.250000    57.000000              81.000000       4.400000
max    3900.000000    70.000000             100.000000       5.000000

       previous_purchases
count         3900.000000
mean            25.351538
std             14.447125
min              1.000000
25%             13.000000
50%             25.000000
75%             38.000000
max             50.000000

Unique Values in Categorical Columns:

gender:
gender
Male      2652
Female    1248
Name: count, dtype: int64

item_purchased:
item_purchased
Blouse        171
Pants         171
Jewelry       171
Shirt         169
Dress         166
Sweater       164
Jacket        163
Coat          161
Sunglasses    161
Belt          161
Sandals       160
Socks         159
Skirt         158
Scarf         157
Shorts        157
Hat           154
Handbag       153
Hoodie        151
Shoes         150
T-shirt       147
Sneakers      145
Boots         144
Backpack      143
Gloves        140
Jeans         124
Name: count, dtype: int64

category:
category
Clothing       1737
Accessories    1240
Footwear        599
Outerwear       324
Name: count, dtype: int64

location:
location
Montana           96
California        95
Idaho             93
Illinois          92
Alabama           89
Minnesota         88
New York          87
Nevada            87
Nebraska          87
Delaware          86
Maryland          86
Vermont           85
Louisiana         84
North Dakota      83
West Virginia     81
Missouri          81
New Mexico        81
Mississippi       80
Kentucky          79
Arkansas          79
Georgia           79
Indiana           79
Connecticut       78
North Carolina    78
Maine             77
Ohio              77
Virginia          77
Texas             77
Tennessee         77
South Carolina    76
Oklahoma          75
Wisconsin         75
Colorado          75
Oregon            74
Pennsylvania      74
Michigan          73
Washington        73
Alaska            72
Massachusetts     72
Utah              71
Wyoming           71
New Hampshire     71
South Dakota      70
Iowa              69
Florida           68
New Jersey        67
Arizona           65
Hawaii            65
Rhode Island      63
Kansas            63
Name: count, dtype: int64

size:
size
M     1755
L     1053
S      663
XL     429
Name: count, dtype: int64

color:
color
Olive        177
Yellow       174
Silver       173
Teal         172
Green        169
Black        167
Cyan         166
Violet       166
Gray         159
Maroon       158
Orange       154
Charcoal     153
Pink         153
Blue         152
Magenta      152
Purple       151
Peach        149
Red          148
Beige        147
Indigo       147
Lavender     147
Turquoise    145
White        142
Brown        141
Gold         138
Name: count, dtype: int64

season:
season
Spring    999
Fall      975
Winter    971
Summer    955
Name: count, dtype: int64

subscription_status:
subscription_status
No     2847
Yes    1053
Name: count, dtype: int64

payment_method:
payment_method
Credit Card      696
Venmo            653
Cash             648
PayPal           638
Debit Card       633
Bank Transfer    632
Name: count, dtype: int64

shipping_type:
shipping_type
Free Shipping     675
Standard          654
Store Pickup      650
Next Day Air      648
Express           646
2-Day Shipping    627
Name: count, dtype: int64

discount_applied:
discount_applied
No     2223
Yes    1677
Name: count, dtype: int64

promo_code_used:
promo_code_used
No     2223
Yes    1677
Name: count, dtype: int64

preferred_payment_method:
preferred_payment_method
PayPal           677
Credit Card      671
Cash             670
Debit Card       636
Venmo            634
Bank Transfer    612
Name: count, dtype: int64

frequency_of_purchases:
frequency_of_purchases
Every 3 Months    584
Annually          572
Quarterly         563
Monthly           553
Bi-Weekly         547
Fortnightly       542
Weekly            539
Name: count, dtype: int64

### Load into SQLite

In [4]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('shopping.db')
df = pd.read_csv(os.path.join('data', 'shopping_trends_cleaned.csv'))
df.to_sql('shopping', conn, if_exists='replace', index=False)

3900

In [7]:
query = '''
SELECT category, SUM("purchase_amount_(usd)") as total_sales
FROM shopping
GROUP BY category
ORDER BY total_sales DESC
LIMIT 5
'''
top_categories = pd.read_sql(query, conn)
top_categories.to_csv(os.path.join('data', 'top_categories.csv'), index=False)